.main {
  border: 0px rgb(14, 255, 62) solid;
  height: 664px;
  background-color: #f8d57e;
}

.slogan {
  margin: 0px;
  font-size: 38px;
  font-weight: 700;
  border: 0px red solid;
  align-self: center;
  line-height: 49.4px;
}
.text {
  align-self: center;
  font-size: 16px;
  font-weight: 400;
  border: 0px red solid;
  line-height: 24px;
}
