.header {
  border: 2px red solid;

  padding: 0px 20px;
  height: 100px;
  background-color: #f8d57e;
}
.landingpage {
  line-height: 27.3px;
  font-size: 21px;
  font-weight: 400;
  border: 1px red solid;
}
.landing {
  font-weight: 700;
}

.mobileHeader {
  border: 1px red solid;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding: 0px;
  width: 100%;
}
