.main {
  height: 847px;
  background-color: #f8f9ff;
}

@media (max-width: 375px) {
  .main {
    height: 1665px;
  }
}

.textBox {
  height: 93px;
}
@media (max-width: 375px) {
  .textBox {
    height: 117px;
  }
}

.slogan {
  margin: 0px;
  font-size: 38px;
  font-weight: 700;
  align-self: center;
  line-height: 49.4px;
}
.text {
  align-self: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 375px) {
  .text {
    text-align: center;
    width: 315px;
  }
}
