/* styles/Iphone.module.css */
.container {
  display: flex;
  justify-content: center;
  position: relative;
  /* top: 24px; */
  border: red solid 0px;
  z-index: 10;
  width: 450px;
  /* height: 450px; */
}

.iphonebody {
  width: 304px;
  height: 581px;
  background-color: #2d2d2d;
  border-radius: 53.48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  position: relative;
}

.dynamicIsland {
  width: 91.7px;
  height: 19.86px;
  background-color: #2d2d2d;
  border-radius: 50px;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  z-index: 5;
}

.earpiece {
  width: 41.26px;
  height: 3.06px;
  background-color: #cfcfcf;
  border-radius: 25px;
  position: relative;
}

.camera {
  width: 3.06px;
  height: 3.06px;
  background-color: #cfcfcf;
  border-radius: 50%;
  position: relative;
}

.iphoneScreen {
  border-radius: 45.84px;
  overflow: hidden;
  width: 281.19px;
  height: 557.72px;
}

.iphoneBGwhite {
  position: absolute;
  top: 169px;
  width: 420px;
  height: 420px;
  background-color: #ffffff;
  border-radius: 127px;
  z-index: -1;
  border: red 0px solid;
}
